@font-face {
  font-family: 'PlusJakartaSansRegular';
  src: url('/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSansItalic';
  src: url('/assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
