@use '../abstracts/' as *;

.card {
  font-size: 1.5rem;
  font-weight: bold;
  color: $white;
  padding: 24px;
  border-radius: $regular-border-radius;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &.large {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    @include mobile {
      grid-column: 1 / span 2;
      grid-row: auto / auto;
    }
  }

  &.medium {
    grid-column: auto / span 2;
    grid-row: auto / auto;
  }

  &.small {
    grid-column: auto / auto;
  }

  img {
    align-self: flex-end;
  }
}
